<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Book List</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span><%= el.bookRating %></span>
                <span>Date added: <%= el.dateAdded %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> books to finish.</h2>

    <form action="/todos/createTodo" method='POST'>
        <label for="">Book Title: <input type="text" placeholder="Enter book title" name='todoItem'></label>

        <label for="">Author: <input type="text" placeholder="Author's name" name='author'>
        </label>

        <label for="">Rating: <input type="number" placeholder="1" name='bookRating'>
         </label>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>